body {
	color: $black;
	font-weight: 400;
	font-size: 17px;
    font-family: $ubuntu;
	line-height: 1.3;
	background-color: $white;
}

.container {
	max-width: 1310px;
	margin: 0 auto;
	padding: 0 15px;
}

.wrapper {
	overflow: hidden;
}

.lock {
	overflow: hidden;
    background-color: rgba($black, 0.6);
}

.button {
    padding: 12px 20px;
    color: $white;
    line-height: 1.4;
    background-color: $red-800;
    border-radius: 8px;
}

.logo {
    vertical-align: middle;

    &--gray {
        filter: invert(63%) sepia(13%) saturate(1083%) hue-rotate(164deg) brightness(100%) contrast(86%);
    }

    &__img {
        max-width: 206px;
        height: 40px;
        object-fit: contain;
        &--small {
            width: 82px;
            height: 15px;
        }
    }
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
	border: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
}

.section {
    padding: 60px 0;
    text-align: center;
}

.line {
    position: relative;

    &::before {
        position: absolute;
        bottom: -60px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: rgba($black, 0.12);
        content: "";
    }
}

// .number {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 52px;
//     height: 52px;
//     margin: 0 auto 20px;
//     color: $white;
//     background-color: $green-700;
//     border-radius: 50%;
// }

.title {
    margin-bottom: 12px;
    font-weight: $fw-400;
    font-size: 40px;
    line-height: 1.2;
}

.link {
    color: $blue-700;
}
