//Цвета
$white: #ffffff;
$black: #000000;

$red-800: #e12e55;

$dark-700: #333333;

$blue-400: #4e697e;
$blue-700: #2288dd;
$gray-400: #9a9a9a;

$green-700: #22bb62;

//Текст
$fw-400: 400;
$fw-500: 500;
$fw-700: 700;

$roboto: "Roboto", "Arial", sans-serif;
$ubuntu: "Ubuntu", "Verdana", sans-serif;