.ready {
    max-width: 620px;
    margin: 0 auto;
    padding: 0 10px;
    @include adaptiv-value("padding-top", 40, 30, 0);
    @include adaptiv-value("padding-bottom", 50, 30, 0);


    &__wrapper {
        border: 1px solid rgba($black, 0.12);
        border-radius: 20px;
        @include adaptiv-value("padding", 24, 15, 0);
    }

    &__title {
        @include adaptiv-value("font-size", 24, 20, 0);

        margin-bottom: 12px;
        font-weight: $fw-400;
    }

    &__date {
        @include adaptiv-value("margin-bottom", 35, 20, 0);
    }

    &__link {
        @include adaptiv-value("margin-bottom", 60, 25, 0);

        display: inline-block;
    }

    &__subtext {
        display: block;
        color: $gray-400;
    }
}