.footer {
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 32px 0;
    }

    &__left {
        margin-right: 10px;
    }

    &__logo {
        max-width: 150px;
        height: 28px;
        margin-bottom: 24px;
    }

    &__left,
    &__right {
        display: flex;
        flex-direction: column;
    }

    &__info {
        display: flex;
    }

    &__link {
        color: $blue-400;
        font-size: 15px;
        line-height: 1.2;
    }

    &__bot {
        position: relative;
        margin-bottom: 27px;
        padding-left: 36px;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 24px;
            height: 24px;
            background-image: url("../img/icon/telegram.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            content: "";
        }
    }
}

.pay {
    display: flex;
    &__item {
        &:not(:last-child) {
            margin-right: 24px;
        }
    }

    &__link {
        display: inline-block;
        width: 45px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}