.footer {
    @include adaptiv-value("padding", 32, 40, 0);
    padding-left: 0;
    padding-right: 0;

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        @include max-w($md) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__left {
        margin-right: 10px;
        display: flex;
        flex-direction: column;

        @include max-w($md) {
            margin-bottom: 32px;
        }
    }

    &__logo {
        max-width: 150px;
        height: 28px;
        @include adaptiv-value("margin-bottom", 24, 32, 0);
    }

    &__item {
        &:not(:last-child) {
            margin-right: 24px;

            @include max-w($sm) {
                margin-bottom: 16px;
            }
        }
    }

    &__info {
        display: flex;

        @include max-w($sm) {
            flex-direction: column;
        }
    }

    &__link {
        color: $blue-400;
        font-size: 15px;
        line-height: 1.2;
    }
}

.pay {
    display: flex;
    &__item {
        &:not(:last-child) {
            margin-right: 24px;
        }
    }

    &__link {
        display: inline-block;
        width: 45px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}