.accept {
    position: absolute;
    top: 227px;
    left: 50%;
    display: none;
    max-width: 560px;
    padding: 24px;
    background-color: $white;
    border-radius: 20px;
    transform: translate(-50%);

    &--active {
        display: block;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        @include adaptiv-value("margin-bottom", 20, 15, 0);
    }

    &__title {
        margin-right: 10px;
        font-weight: $fw-400;
        @include adaptiv-value("font-size", 28, 24, 0);
    }
    
    &__close {
        display: inline-block;
        width: 24px;
        height: 24px;
        background-image: url("../img/sprite.svg#close-icon");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    &__list {
        @include adaptiv-value("margin-bottom", 20, 15, 0);
    }

    &__name {
       margin-bottom: 2px; 
       color: $gray-400;
       font-size: 14px;
       line-height: 1.7;
    }

    &__descr {
        &:not(:last-child) {
            @include adaptiv-value("margin-bottom", 20, 15, 0);
        }

        &--big {
            font-weight: $fw-500;
            font-size: 20px;
        }
    }

    &__inner {
        position: relative;
        @include adaptiv-value("margin-bottom", 20, 15, 0);
        padding: 24px 0;
        @include adaptiv-value("padding-top", 24, 15, 0);
        @include adaptiv-value("padding-bottom", 24, 15, 0);

        &::before,
        &::after {
            position: absolute;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: rgba($black, 0.12);
            content: "";
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }
    }

    &__label {
        margin-bottom: 4px;
        font-size: 14px;
        line-height: 1.7;
    }

    &__field {
        width: 100%;
        padding: 10px 12px;
        border: 1px solid rgba($black, 0.24);
        border-radius: 5px;

        &::placeholder {
            color: $gray-400;
        }
    }

    &__subtext {
        @include adaptiv-value("margin-bottom", 20, 15, 0);
        font-size: 14px;
    }
}