.tariffs {
    max-width: 620px;
    margin: 0 auto;
    padding: 0 10px;
    @include adaptiv-value("padding-top", 40, 30, 0);

    &__welcome {
        width: 100%;
        margin-bottom: 24px;
    }

    &__content {
        width: 100%;
        @include adaptiv-value("padding", 24, 15, 0);
        @include adaptiv-value("padding-bottom", 32, 15, 0);
        border: 1px solid rgba($black, 0.12);
        border-top: 0;
        border-radius: 0 0 20px 20px;
    }

    &__img {
        display: block;
        @include adaptiv-value("height", 360, 300, 0);
        border-radius: 20px 20px 0 0;
        width: 100%;
        object-fit: cover;
    }

    &__title {
        margin-bottom: 16px;
        font-weight: $fw-400;
        @include adaptiv-value("font-size", 28, 24, 0);
    }

    &__text:not(:last-child),
    &__text p:not(:last-child),
    &__list:not(:last-child) {
        @include adaptiv-value("margin-bottom", 30, 15, 0);
    }

    &__link {
        color: $blue-700;
    }

    &__items {
        width: 100%;
        @include adaptiv-value("margin-bottom", 38, 25, 0);
    }

    &__item,
    &__right {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

        &__item {
            &:not(:last-child) {
                margin-bottom: 20px;
            }

            @include adaptiv-value("padding", 24, 15, 0);
            @include adaptiv-value("padding-top", 22, 15, 0);
            @include adaptiv-value("padding-bottom", 22, 15, 0);
            border: 1px solid rgba($black, 0.12);
            border-radius: 20px;

            @include max-w($sm) {
                flex-direction: column;
                align-items: flex-start;
            }
        }

    &__subtitle {
        margin-right: 15px;
        font-weight: $fw-400;
        font-size: 17px;

        @include max-w($sm) {
            margin-bottom: 15px;
        }
    }

    &__price {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 20px;
    }

    &__summa {
        font-weight: $fw-500;
    }

    &__time {
        color: $gray-400;
        font-size: 14px;
    }

    &__btn {
        padding: 7px 16px;
        font-size: 15px;
        line-height: 1.6;
        border: 1px solid $red-800;
        border-radius: 8px;
    }

    &__footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__subtext {
        font-size: 14px;
        text-align: center;
        @include adaptiv-value("margin-bottom", 40, 30, 0);
    }

    &__pay {
        @include adaptiv-value("margin-bottom", 48, 30, 0);
    }
}