<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__left">
                <a class="footer__logo logo" href="#">
                    <img class="logo__img" src="img/logo.svg" alt="Логотип">
                </a>
                <ul class="footer__info">
                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            Правила пользования
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="#">
                            Политика конфиденциальности
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer__right">
                <a class="footer__bot" href="#">
                    Бот в Телеграм
                </a>
                <ul class="footer__list">
                    <li class="footer__pay">
                        <a class="footer__card" href="#" style="background-image: url('img/icon/visa.svg');">
                            <span class="sr-only">Visa</span>
                        </a>
                    </li>
                    <li class="footer__pay">
                        <a class="footer__card" href="#" style="background-image: url('img/icon/mastercard.svg');">
                            <span class="sr-only">Mastercard</span>
                        </a>
                    </li>
                    <li class="footer__pay">
                        <a class="footer__card" href="#" style="background-image: url('img/icon/mir.svg');">
                            <span class="sr-only">Мир</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>